.bg-color {
    background-color: #000C24;
  }
  .accent-color, ul>li>.active, ul>li>.active:focus{
    color: #F44336;
  }
  #pp-nav>ul>li>a>span {
    border: 1px solid #F44336;
  }
  body {
    color: #000C24;
  }
  .first-color {
    color: #928A97;
  }
  .icon {
    border: 1px solid #928A97;
    border-radius: 50px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #928A97;
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin: 0.2rem;
    padding-top: 2px;
  }
  .icon:hover {
    background-color: #928A97;
  }
  .circle-text{
    color: #fff;
    position: relative;
    top: -55px;
    left: 13px;
  }
  .circle {
    width: 80px;
    height: 80px;
    margin: 0.5rem;
  }
  .nav-item {
    margin: 0 15px;
  }